      <div class="login">
        <div class="login-screen">
<!--           <div class="login-icon">
            <img src="http://qr.liantu.com/api.php?text=http://www.homeinns.com/" alt="如家酒店" />
            <h4>如家App <small>扫一扫</small></h4>
          </div> -->
        <%= form_for @user, html: { id: 'new-user-form' } do |f|%>
          <div class="login-form">
            <div class="form-group">
              <%= f.text_field :name, class: 'form-control login-field', placeholder: '姓名' %>
              <!-- <input type="text" class="form-control login-field" value="" placeholder="姓名" id="login-name" /> -->
              <label class="login-field-icon" for="login-name"><i class="fa fa-user"></i></label>
            </div>

            <div class="form-group">
              <%= f.text_field :phone, class: 'form-control login-field', placeholder:'手机' %>
              <!-- <input type="text" class="form-control login-field" value="" placeholder="电话" id="login-pass" /> -->

              <label class="login-field-icon" for="login-pass"><i class="fa fa-phone"></i></label>
            </div>

            <button type="submit" class="btn btn-primary btn-lg btn-block">报  名</button>
          </div>
          <% end %>
        </div>
      </div>


    <script type="text/javascript">
      $('#new-user-form').validate({
        rules: {
          'user[name]': {
            required: true
          },
          'user[phone]': {
            required: true,
            number: true,
            minlength: 11,
            maxlength: 11,
            remote: '/users/check_phone'
          }
        },
        messages: {
          'user[name]': {
            required: '姓名不能为空'
          },
          'user[phone]': {
            required: '手机号不能为空',
            number: '无效的手机号格式',
            minlength: '无效的手机号格式',
            maxlength: '无效的手机号格式',
            remote: '此号码已经被使用'
          }
        }
      });
    </script>