      <div class="login">
        <div class="login-screen">
<!--           <div class="login-icon">
            <img src="http://qr.liantu.com/api.php?text=http://www.homeinns.com/" alt="如家酒店" />
            <h4>如家App <small>扫一扫</small></h4>
          </div> -->
          <div class="login-form">
            <div class="title center">扫码开门 免费体验</div>
            <div class="form-group">
              <input class="form-control login-field" id="user_name" name="user[name]" placeholder="姓名" type="text" />
              <!-- <input type="text" class="form-control login-field" value="" placeholder="姓名" id="login-name" /> -->
              <label class="login-field-icon" for="login-name"><i class="fa fa-user"></i></label>
            </div>

            <div class="form-group">
              <input class="form-control login-field" id="user_phone" name="user[phone]" placeholder="手机" type="text" />
              <!-- <input type="text" class="form-control login-field" value="" placeholder="电话" id="login-pass" /> -->

              <label class="login-field-icon" for="login-pass"><i class="fa fa-phone"></i></label>
            </div>

            <button type="submit" class="btn btn-primary btn-lg btn-block" value="disable" disabled>已 报 名</button>
        <div class="text_wapper">
一、此活动主要是为提供免费体验如家酒店集团全新二维扫码开门功能报名资格。</br>
二、请您填写真实姓名及联系方式，以便我们与您取得联系确认详细信息。</br>
三、凡获得体验资格的宾客，我们将在您提交信息后的一周内与您取得联系。</br>
四、目前首家体验门店为如家快捷-上海柳州路光大会展中心店。</br>
        </div>
          </div>
        </div>
      </div>